@import '../styles/constants.scss';

:root {
  /deep/ {
    .mat-form-field {
      width: 100%;
    }
  }
}

.card-form {
  padding: 15px;
}

/* input text */
.mxc-input-box {
  font-family: $primary-font;
  color: $primary-color;
  position: relative;
  margin-bottom: 12px;
  .error-container {
    min-height: .8rem;
  }   
}

.error {
  .error-message {
    font-size: 12px;
    color: $secondary-color;
    padding-top: 2px;
    padding-left: 3px;
  }
}    
.success {
  .success-message {
    font-size: 12px;
    color: $tertiary-color-dark;
    padding-top: 2px;
    padding-left: 3px;
  }
} 

.button{
  cursor: pointer;
  background-color: $secondary-color;
  color: #fff;
  padding: 10px 30px;
  display: block;
  text-align: center;
  border: solid 1px white;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  opacity: 1;
  transition: all 0.2s ease 0s;
  font-size: .8rem;
  min-width: 220px;
  height: 50px;
  &:hover, &:active {
    font-size: 0.85rem;
  }
  &.button-clear {
    background: none;
    color: $secondary-color;
    border-color: $secondary-color;
    height: 36px;
  }
  &.button-center {
    margin: 0 auto;
  }
}

.button:disabled{
  opacity: 0.6;
}

.trf-form-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 1rem;
  padding: 0.3rem 0;
  width: 100%;
}