<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 justify-content-center d-flex"><img src="./../../../../assets/images/logo.png" class="logo" alt="Traffic logo"><br>Money Exchange</div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <h3>Contact Us</h3>
        <p>Address 123, State</p>
        <p><a href="tel:+51 999 999 999">+51 999 999 999</a></p>
        <p><a href="mailto:demo@demo.com">demo@demo.com</a></p>
      </div>
    </div>
  </div>
</footer>